# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore webstorm config
.idea/

# Ignore game-generated CSV files for US States Game
07.%20US%20States%20Game/guessed_states.csv
07.%20US%20States%20Game/states_to_learn.csv
